{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Hub de Ferramentas PDF</h1>
    <div class="row">
        <!-- Juntar PDF -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('merge_pdf.merge_pdf') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fa-solid fa-down-left-and-up-right-to-center fa-3x mb-3"></i> <!-- Ícone -->
                    <h5 class="card-title">Juntar PDF</h5> <!-- Título -->
                    <p class="card-text">Combine vários PDF em um único arquivo.</p> <!-- Subtítulo -->
                </div>
            </a>
        </div>

        <!-- Dividir PDF -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('split_pdf.split_pdf') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fa-solid fa-up-right-and-down-left-from-center fa-3x mb-3"></i><!-- Ícone -->
                    <h5 class="card-title">Dividir PDF</h5> <!-- Título -->
                    <p class="card-text">Divida o PDF em vários arquivos únicos.</p> <!-- Subtítulo -->
                </div>
            </a>
        </div>

        <!-- Extrair Texto -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('extract_text.extract_text') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-file-alt fa-3x mb-3"></i>
                    <h5 class="card-title">Extrair Texto</h5>
                    <p class="card-text">Extraia texto de um arquivo PDF.</p>
                </div>
            </a>
        </div>

        <!-- PDF para Imagem -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('pdf_to_image.pdf_to_image') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-image fa-3x mb-3"></i>
                    <h5 class="card-title">PDF para Imagem</h5>
                    <p class="card-text">Converta páginas de PDF em imagens.</p>
                </div>
            </a>
        </div>

        <!-- Imagem para PDF -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('image_to_pdf.image_to_pdf') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-file-pdf fa-3x mb-3"></i>
                    <h5 class="card-title">Imagem para PDF</h5>
                    <p class="card-text">Converta imagens em um arquivo PDF.</p>
                </div>
            </a>
        </div>

        <!-- Adicionar Watermark -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('watermark.watermark') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-tint fa-3x mb-3"></i>
                    <h5 class="card-title">Adicionar Watermark</h5>
                    <p class="card-text">Adicione um watermark ao seu PDF.</p>
                </div>
            </a>
        </div>

        <!-- Reduzir Tamanho do PDF -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ url_for('compress_pdf.compress_pdf') }}" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-compress fa-3x mb-3"></i>
                    <h5 class="card-title">Reduzir Tamanho</h5>
                    <p class="card-text">Reduza o tamanho do arquivo PDF.</p>
                </div>
            </a>
        </div>

        <!-- Assinar Digitalmente (Exemplo de nova ferramenta) -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#" class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-signature fa-3x mb-3"></i>
                    <h5 class="card-title">Assinar Digitalmente</h5>
                    <p class="card-text">Adicione uma assinatura digital ao PDF.</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}