{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Dividir PDF</h1>
    <br>
    <div class="text-center">
        <input type="file" id="pdfFileInput" class="form-control mb-3" accept=".pdf" style="display: none;">
        <button id="uploadBtn" class="btn btn-dark btn-lg"
                style="width: calc(50% - 2rem); margin: 0 auto;"
                onclick="document.getElementById('pdfFileInput').click()">
            <i class="fas fa-file-upload"></i>&nbsp Adicionar Arquivo
        </button>
    </div>
<div class="row align-items-start">
    <div class="col-md-8 d-flex justify-content-center">
        <div id="previewContainer" class="d-flex flex-wrap justify-content-center gap-3">
            <div id="previewPages" class="d-flex flex-wrap gap-3"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="buttonContainer" class="bg-white py-3 px-4 rounded d-none">
            <div class="btn-group d-flex gap-2">
                <button id="splitAllBtn" class="btn btn-outline-dark btn-md flex-grow-1 active">
                    Extrair todas as páginas
                </button>
                &nbsp&nbsp
                <button id="splitSelectedBtn" class="btn btn-outline-dark btn-md flex-grow-1">
                    Selecionar páginas
                </button>
            </div>
            <button id="confirmSplitBtn" class="btn btn-success btn-md w-100 mt-2">
                <i class="fas fa-check"></i> Dividir PDF
            </button>
        </div>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/split_pdf.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
{% endblock %}